{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercurium</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_style.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <a class="logo" href="/wallet_transactions/{{wallet.id}}"><img width="75" src="{% static 'img/svg/Logo_Mercurium.svg' %}">
            <div class="title">Mercurium</div>
            <div class="sub-title">v 1.0</div>
        </a>
        <br>
        <a href="/categories/{{wallet.id}}">Categorias</a>
        <br>
        <a href="/trash/{{wallet.id}}">Lixeira</a>
    </div>
    <div class="content-container">
        <div class="form-item">
            <form action="" method="POST">
                <h2>Adicionar Registro</h2>
                {% csrf_token %}
                    <p><label for="id_description">Descrição:</label> <input type="text" name="description" maxlength="100" required id="id_description"></p>
                    <p><label for="id_value">Valor:</label> <input type="number" name="value" step="0.01" required id="id_value"></p>
                    <p><label for="id_type_item">Tipo:</label> <select name="type_item" required id="id_type_item">
                    <option value="" selected>---------</option>
                    <option value="Receita">Receita</option>
                    <option value="Despesa">Despesa</option>
                    </select></p>
                    <p><label for="id_cat">Categoria:</label> <select name="cat" required id="id_cat">
                    <option value="" selected>---------</option>
                    {% for cat in categories %}
                        <option value="{{cat.id}}">{{cat.name}}</option>
                    {% endfor %}
                    </select></p>
                    <p><label for="id_date">Data:</label> <input type="date" name="date" required id="id_date"></p>
                    <p><label for="id_status_payment">Pago:</label> <input type="checkbox" name="status_payment" id="id_status_payment" checked></p>
                    <p><label for="id_date_payment">Data Vencimento:</label> <input type="date" name="date_payment" id="id_date_payment"></p>
                    <p><label for="id_fees">Juros:</label> <input type="number" name="fees" step="0.1" id="id_fees"></p>
                    
                    <button type="submit">Confirmar</button>
                    <button type="reset">Limpar</button>
            </form>
        </div>
        <script src="{% static 'js/app.js' %}"></script> 
    <footer>
    </footer>
</body>
</html>