{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercurium</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <a class="logo" href="/"><img width="75" src="{% static 'img/svg/Logo_Mercurium.svg' %}">
            <div class="title">Mercurium</div>
            <div class="sub-title">v 1.0</div>
        </a>
        <br>
        {% if user.is_authenticated %}
        <a href="/categories.html">Categorias</a>
        <a href="#">Relatório</a>
        <br>
        <a href="/trash.html">Lixeira</a>
        {% endif %}

        {% if user.is_authenticated %}
        <br>
            <a href="/accounts/logout">Sair</a>
        <br>
        {% endif %}
    </div>
    <div class="content-container">
        <div class="form-item">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Confirmar</button>
                <button type="reset">Limpar</button>
            </form>
        </div>
    </div>
    <footer>
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>