{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercurium</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <a class="logo" href="/"><img width="75" src="{% static 'img/svg/Logo_Mercurium.svg' %}">
            <div class="title">Mercurium</div>
            <div class="sub-title">v 1.0</div>
        </a>
        <br>
        <a href="/categories/{{wallet.id}}">Categorias</a>
        <a href="#">Relatório</a>
        <br>
        <a href="/trash/{{wallet.id}}">Lixeira</a>
        <br>
            <a href="/accounts/logout">Sair</a>
        <br>
    </div>
    <div class="dashboard-container">
            {% if balance.value__sum == NULL %}
                <div class="box 1">Saldo Atual <br> <h1>R$ 0</h1> </div>
            {% else %}
                {% if current_balance.value__sum > 0 %}
                <div class="box 1 box-green">Saldo Atual <br> <h1>R$ {{current_balance.value__sum}}</h1> </div>
                {% else %}
                <div class="box 1 box-red">Saldo Atual <br> <h1>R$ {{current_balance.value__sum}}</h1> </div>
                {% endif %}
            {% endif %}

            {% if gain.value__sum == NULL %}
                <div class="box 2">Receita <br> <h1>R$ 0</h1> </div>
            {% else %}
                <div class="box 2 box-green">Receita <br> <h1>R$ {{gain.value__sum}}</h1> </div>
            {% endif %}
            {% if expenses.value__sum == NULL %}
                <div class="box 3">Despesas <p> <h1>R$ 0</h1> </div>
            {% else %}
                <div class="box 3 box-red">Despesas <p> <h1>R$ {{expenses.value__sum}}</h1> </div>
            {% endif %}

            {% if to_gain.value__sum == NULL %}
                <div class="box 3">A Receber <br> <h1>R$ 0</h1> </div>
            {% else %}
                <div class="box 3 box-green">A Receber <br> <h1>R$ {{to_gain.value__sum}}</h1> </div>
            {% endif %}
        
            {% if to_pay.value__sum == NULL %}
                <div class="box 5">A Pagar <br> <h1>R$ 0</h1> </div>
            {% else %}
                <div class="box 5 box-red">A Pagar <br> <h1>R$ {{to_pay.value__sum}}</h1> </div>
            {% endif %}

            {% if balance.value__sum == NULL %}
                <div class="box 6">Saldo Projetado <br> <h1>R$ 0</h1> </div>
            {% else %}
            {% if current_balance.value__sum > 0 %}
                <div class="box 6 box-green">Saldo Projetado <br> <h1>R$ {{balance.value__sum}}</h1> </div>
                {% else %}
                <div class="box 6 box-red">Saldo Projetado <br> <h1>R$ {{balance.value__sum}}</h1> </div>
                {% endif %}
            {% endif %}
    </div>
    <div class="content-container">
        <div class="table-container">
            <table class="main-table" id="main-table">
                <a href="/create/{{wallet.id}}"><button class="modal-form"><img width="30" src="{% static 'img/png/plus-signal.png' %}">Adicionar</button></a>
                <a><button class="modal-form" onclick="modal_filter()"><img width="30" src="{% static 'img/png/filled-filter.png' %}">Opções de Filtro</button></a>
                <a><button class="modal-form"><img width="30" src="{% static 'img/png/generic-sorting.png' %}">Opções de Ordenação</button></a>
                <!-- <button class="modal-form"><img width="30" src="{% static 'img/png/plus-signal.png' %}">Adicionar Categoria</button> -->
                    {% for message in messages %}
                        {% if 'safe' in message.tags %}
                            <div class="messages alert-sucess">
                                {{message|safe}}
                                <span onclick="close_message()" class="close-message"><img width="15" src="{% static 'img/svg/close-green.svg' %}"></span>
                            </div>
                        {% else %}
                            <div onclick="close_message()" class="messages alert-danger">
                                {{message}}
                                <span onclick="close_message()" class="close-message"><img width="15" src="{% static 'img/svg/close.svg' %}"></span>
                            </div>
                        {% endif %}
                    {% endfor %}
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Categoria</th>
                        <th>Data</th>
                        <th>Vencimento</th>
                        <th>Juros</th>
                        <th>Situação</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items_list %}
                        <tr>
                            <td>{{item.description}}</td>
                            {% if item.type_item == 'Receita' %}
                                <td class="pg">{{item.value}}</td>
                            {% else %}
                                <td class="apg">{{item.value}}</td>
                            {% endif %}
                            <td>{{item.cat}}</td>
                            {% if item.date == item.date_payment %}
                            <td>{{item.date}}</td>
                            <td></td>
                            <td></td>
                            {% else %}
                            <td>{{item.date}}</td>
                            <td>{{item.date_payment}}</td>
                            <td>{{item.fees}}%</td>
                            {% endif %}
                            {% if item.status_payment == True %}
                                    <td class="pg">Pago</td>    
                            {% else %}
                                {% if item.type_item == 'Receita' %}
                                    <td class="apg">A receber</td> 
                                {% else %}
                                    <td class="apg">A pagar</td>
                                {% endif %}
                            {% endif %}
                            <td>
                            <button class="btn_edit">
                                <a href="/update/{{item.id}}" title="Editar">
                                    <img width="25" src="{% static 'img/svg/pencil-square.svg' %}">
                                </a>
                            </button>
                            </td>
                            <td>
                            <button onclick="confirm_action()" class="btn_delete">
                                <a href="/delete/{{item.id}}" title="Excluir">
                                    <img width="25" src="{% static 'img/svg/trash-fill.svg' %}">
                                </a>
                            </button>
                            </td>
                            {% if item.status_payment == False %}
                            <td>
                                <button class="btn_pay">
                                    <a href="pay/{{item.id}}">
                                        <img width="25" src="{% static 'img/svg/transaction.svg' %}">
                                    </a>
                                </button>
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if items_list %}
            <div class ="pagination">
                <span class="step-links">
                    {% if items_list.has_previous %}
                    <a href="?page={{ items_list.previous_page_number }}"><img src="{% static 'img/png/previous.png' %}"></a>            
                    {% endif %}
                    
                    <span class="current">
                        {{items_list.number}} de {{items_list.paginator.num_pages}}
                    </span>
                    
                    {% if items_list.has_next %}
                    <a href="?page={{ items_list.next_page_number }}"><img src="{% static 'img/png/next.png' %}"></a>            
                    {% endif %}
                </span>
            </div>    
            {% endif %}
        </div>
    </div>   
    <div class="modal-bg">
        <div class="modal">
            <h2>Filtrar por</h2> 
            <form method="GET" autocomplete="off">
                <fieldset>
                    <label>Descrição:</label>
                    <input id="word-key" name="word-key" type="search">
                </fieldset>
                <fieldset>
                    <label>Data Inicial: </label>
                    <input id="init-date" name="init-date" type="date">
                    <label>Data Final: </label>
                    <input id="end-date" name="end-date" type="date">
                </fieldset>
                <fieldset>
                    <label>Valor Inicial</label>
                    <input id="init-value" name="init-value" type="number">
                    <label>Valor Final</label>
                    <input id="end-value" name="end-value" type="number">
                    <br>    
                </fieldset>
                <div class="btns-flex">
                    <button onclick="verify_filter_form()" class="btn-send-form" type="submit">Confirmar</button>
                    <button class="btn-reset-form" type="reset">Limpar</button>
                </div>
                <span onclick="close_modal_filter()" class="modal-close"><img width="30" src="{% static 'img/svg/close.svg' %}"></span>
            </form>
        </div>
    </div>
    <div class="charts-container">
        <div class="chart-1">
            <canvas id="Balance"></canvas>
            <script type="text/javascript">
                var ctx = document.getElementById('Categories').getContext('2d');
                var Categories = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Receita', 'Despesa'],
                        datasets: [{
                            data: [{{gain.value__sum}}, {{expenses.value__sum}}],
                            
                            backgroundColor: [
                                'rgba(75, 192, 192, 1)',
                                'rgba(255, 99, 132, 1)',    
    
                            ],
                            borderColor: [
                                'rgba(32, 57, 123, 1)'
                                ],
                            borderWidth: 3
                            }]
                        },

                        options: {
                            responsive:true,
                            maintainAspectRatio: false,
                        }
                    });
            </script>
        </div>
        <div class="chart-2">
            <canvas id="Categories"></canvas>
            <script type="text/javascript">
                var ctx = document.getElementById('Categories').getContext('2d');
                var Categories = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: [{% for cat in category %} '{{cat.name}}', {% endfor %}],
                        datasets: [{
                            data: [{% for cat in category %} {{cat.transaction_value}}, {% endfor %}],
                            
                            backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
    
                            ],
                            borderColor: [
                                'rgba(32, 57, 123, 1)'
                                ],
                            borderWidth: 3
                            }]
                        },

                        options: {
                            responsive:true,
                            maintainAspectRatio: false,
                        }
                    });
            </script>
        </div>
    </div>
    <footer>
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
