{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercurium</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wallet_style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <a class="logo" href=""><img width="75" src="{% static 'img/svg/Logo_Mercurium.svg' %}">
            <div class="title">Mercurium</div>
            <div class="sub-title">v 1.0</div>
        </a>
        <br>
        <br>
            <a class="logout" href="/accounts/logout">Sair</a>
        <br>
        <br>
    </div>
    <div class="wallet-container">
        <h1 style="width: 100%">Carteiras</h1>
        <div style="width: 100%">
            {% for message in messages %}
                {% if 'safe' in message.tags %}
                    <div class="messages alert-sucess">
                        {{message|safe}}
                        <span onclick="close_message()" class="close-message"><img width="15" src="{% static 'img/svg/close-green.svg' %}"></span>
                    </div>
                {% else %}
                    <div onclick="close_message()" class="messages alert-danger">
                        {{message}}
                        <span onclick="close_message()" class="close-message"><img width="15" src="{% static 'img/svg/close.svg' %}"></span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% for wallet in wallets %}
            <div class="wallet-box">
                <a href="wallet_transactions/{{wallet.id}}">
                    <button class="wallet-btn">
                        <h2><img class="wallet-icon" width="30" src="{% static 'img/png/wallet-24.png' %}"> {{wallet.name}}</h2> 
                        <br> 
                        Total Transações: {{wallet.transactions}}
                        <br>
                        Valor: {{wallet.transactions_value}}
                    </button>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">Opções</button>
                    <div class="dropdown-content">
                      <a href="#">Editar</a>
                      <a href="#">Excluir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div>
            <a href="#"><button class="add-wallet" onclick="modal_wallet()"><img width="30" src="{% static 'img/png/plus-signal.png' %}"></button></a>
        </div>
    </div>
    <div class="modal-wallet-bg">
        <div class="modal">
            <h2>Criar nova carteira</h2> 
            <form action method="POST" autocomplete="off">
                {% csrf_token %}
                    <input id="id-wallet-name" name="name" type="text" placeholder="Nome Carteira" required> 
                    <input id="id-wallet-limit" name="limit" type="number" placeholder="Limite Carteira" required>   
                <div class="btns-flex">
                    <button onclick="verify_filter_form()" class="btn-send-form" type="submit">Confirmar</button>
                    <button class="btn-reset-form" type="reset">Limpar</button>
                </div>
                <span onclick="close_modal_wallet()" class="modal-close"><img width="30" src="{% static 'img/svg/close.svg' %}"></span>
            </form>
        </div>
    </div>
</body>
<script src="{% static 'js/app.js' %}"></script>
</html>