:root {
    --bm-color:#20397B; /* Azul principal */
    --bo-color: #00091F; 
    --bg-color:#CACACA; /* background pages */
    --sw-color:#999999; /* shadow */
    --bg-red-btn:#A61022; /* background red button */
    --bg-red-btn-h:#CF0A2C; /* background red button hover */
    --bg-blue-btn:#20397B; /* background blue buttom */
    --bg-blue-btn-h:#0057BE; /* background blue buttom hover */
    --bo-gray-inp:#CCCCCC; /* border gray input */
    --bg-alert-mes:#F3CDCF; /* background danger message */
    --bo-red-mes:#FF0000; /* background red button hover */ /* border color danger message */
    --co-red-mes: #bd0000; /* color danger message */
    --bg-gre-mes:#C2DAC2; 
    --bg-gre-box: #cce4cc;
    --bg-red-box: #e4cccc;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

/* Barra de menu lateral */
.logo img {
    float: left;
    margin-right: 10px;
}
.title {
    font-weight: bold;
    font-size: 1.5rem;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 13.5%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 5px 5px 10px var(--sw-color);
}

.sidebar a:not(.active){
    display: block;
    color: var(--bo-color);
    padding: 20px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    transform: scale(1.1); 
    transition:0.3s;
    background-color: var(--bm-color);
    color: white;
}

.active{
    display: block;
    padding: 20px;
    text-decoration: none;
    background-color: var(--bm-color);
    color: white;
}

/* Dashboard */

.dashboard-container {
    display: flex;
    background-color: var(--bm-color);
    background-size: 50%, 25%, 25%;
    width: 75%;
    min-width: 47.5rem;
    height: 10rem;
    max-height: 10rem;
    margin-left: 15%;
    border-radius: 0px 0px 10px 10px;   
}

.box {
    flex: 1;
    margin: 1.5%;
    background-color: white;
    color: var(--bo-color);
    border: 3px solid var(--bm-color);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(4, 18, 63);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

.box-green {
    background-color: var(--bg-gre-box);
}

.box-red {
    background-color: var(--bg-red-box)
}

/* Container Conteudo */
.content-container {
    width: 75%;
    margin-left: 15%;
    display: flex;
    flex-direction: row; 
}

.container div {
    flex: 1;
}

/* Tabela  */
.main-table {
    z-index: 1;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-collapse:separate; 
    border-spacing: 0 0.3rem;
}

.main-table tbody tr {
    opacity: 0.8;
}

.main-table tbody tr:hover{
    transition: 0.2s;
    opacity: 1;
    transform: scale(1.01);     
}

.main-table thead tr th:last-child, .main-table tbody tr td:last-child {
    border-radius: 0 10px 10px 0;
}

.main-table thead tr th:first-child, .main-table tbody tr td:first-child {
    border-radius: 10px 0px 0px 10px;
}

.main-table th {
    color: white; 
    background-color: var(--bm-color);
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: lighter;
}

.main-table tbody td{
    padding: 0.2rem 1rem;
    background-color: white;
}

.table-container {
    width: 100%;
}

.btn_edit, .btn_delete, .btn_pay {
    padding:0px;
    background-color: white;
    cursor: pointer;
    border: none;
}

input:focus, button:focus, select:focus {
    outline: none;
}

fieldset {
    display: flex;
    flex-direction: column; 
    border: none;
    background-color: white;
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px var(--sw-color); */
    margin-bottom: 10px;
}

input, select {
    width: 85%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 2px solid var(--bo-gray-inp); 
}

select {
    width: 90%;
}

button[type=submit] {
    padding: 10px 20px;
    margin-top: 5px;
    background-color: var(--bm-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type=submit]:hover {
    transition: 0.2s;
    background-color: var(--bg-blue-btn-h);
}

button[type=reset] {
    margin-top: 5px;
    background-color: var(--bg-red-btn); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type=reset]:hover {
    transition: 0.2s;
    background-color: var(--bg-red-btn-h); 
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.pagination {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.step-links {
    border-radius: 10px;
    padding: 5px;
    line-height: 10px;
    /* border: solid 1px var(--bm-color); */
    color:  var(--bo-color);
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
} 

/* select {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
*/

.messages {
    margin-top: 14px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    line-height: 30px;
    box-shadow: 5px 5px 10px var(--sw-color);
    float: right;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    align-items: center;
}

.alert-danger {
    background-color: var(--bg-alert-mes);
    color: var(--co-red-mes); 
    border: 1px solid var(--bo-red-mes);
}

.alert-sucess {
    background-color:  rgb(194, 218, 194);
    color: green; 
    border: 1px solid green;
}

/* Modal Form */
button.modal-form {
    margin-top: 10px;
    margin-right: 5px;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    background-color: var(--bm-color);
    color: white;
    border: none;
    cursor: pointer;
    line-height: 30px;
    border: 3px solid var(--bm-color);
    box-shadow: 3px 3px 9px var(--sw-color);
}

button.modal-form img {
    margin-right: 5px;
    float: left;
}

button.modal-form:hover {
    transform: scale(1.02);
    color: white;
    transition: 0.2s;
    background-color: var(--bg-blue-btn-h);
}

.btns-flex {
    display: flex;
    width: 100%;
}

.btn-send-form , .btn-reset-form , .btn-filter, .btn-clear {
    margin: 5px;
    flex: 1;
}

.modal-bg {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.bg-active {
    transition: 0.5s; 
    visibility: visible;
    opacity: 1; 
}   

.modal {
    position: relative;
    margin-bottom: 20%;
    max-width: 400px;
    border-radius: 5px;
    background: #f0f2f5;
    padding: 2rem;
}

.modal, input {
    width: 95%;
}

.reset-hidden {
    position: absolute;
    top:10px;
    right: 10px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.pg {
    color: green;
}

.apg {
    color: red;
}

.charts-container {
    margin-top: 1rem;
    border-radius: 10px;
    width: 75%;
    min-width: 45rem;
    height: 21rem;
    margin-left: 15%;
    background-color: white;
    border: 3px solid var(--bm-color);
}

.chart-1 {
    width: 22%;
}

hr {
	border: 0;
	border-top: 1px solid #094CFA;
}

#gain, #expense {
    display: none;
}

@media (max-width: 1030px) {
    h1 {
        font-size: 20px;
    }
    .main-table thead tr th:nth-child(6), .main-table tbody tr td:nth-child(6) {
        display: none;
    }
}

@media (max-width: 840px) { 

    .content-container, .dashboard-container, .charts-container {
        margin-left: 3%;
    }

    .main-table thead tr th:nth-child(7), .main-table tbody tr td:nth-child(7) {
        display: none;
    } 
    
    /*
    .dashboard-container {
        flex-direction: column;
        height: 25rem;
        min-width: 25rem;
    }

    .dashboard-container h1 {
        font-size: 0.8rem;
    }
    
    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
        margin: 2px;
        font-size: 0.8rem;
    } 
    */

    .sidebar {
        display: none;
    }

    @media (max-width: 790px) {

    }
    
}
