:root {
    --bm-color:#20397B; /* Azul principal */
    --bo-color: #00091F; 
    --bg-color:#CACACA; /* background pages */
    --sw-color:#999999; /* shadow */
    --bg-red-btn:#A61022; /* background red button */
    --bg-red-btn-h:#CF0A2C; /* background red button hover */
    --bg-blue-btn:#20397B; /* background blue buttom */
    --bg-blue-btn-h:#0057BE; /* background blue buttom hover */
    --bo-gray-inp:#CCCCCC; /* border gray input */
    --bg-alert-mes:#F3CDCF; /* background danger message */
    --bo-red-mes:#FF0000; /* background red button hover */ /* border color danger message */
    --co-red-mes: #bd0000; /* color danger message */
    --bg-gre-mes:#C2DAC2; 
}

.wallet-container {
    background-color: white;
    padding: 2rem;
    width: 20rem;
    /* border: 1px solid gray; */
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 9px var(--sw-color);
    margin-left: 280px;
    display: flex;
    flex-direction: column; 
}

.wallet {
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    color: var(--bm-color);
    background-color: white;
    border: none;
    cursor: pointer;
    line-height: 2  0px;
    border: 3px solid var(--bm-color);
    box-shadow: 3px 3px 9px var(--sw-color);
}

.wallet:hover {
    transition: 0.2s;
    color: white;
    background-color: var(--bm-color);
}

.add-wallet {
    margin: 10px;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    color: white;
    background-color: var(--bm-color);
    border: none;
    cursor: pointer;
    line-height: 2  0px;
    border: 3px solid var(--bm-color);
    box-shadow: 3px 3px 9px var(--sw-color);
}

.modal-wallet-bg {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.bg-active {
    transition: 0.5s; 
    visibility: visible;
    opacity: 1; 
}   

.modal {
    position: relative;
    margin-bottom: 20%;
    max-width: 400px;
    border-radius: 5px;
    background: #f0f2f5;
    padding: 2rem;
}

.modal, input {
    width: 95%;
}

.reset-hidden {
    position: absolute;
    top:10px;
    right: 10px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}